@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.socials > * {
  @apply px-[0.3rem];
}

.socials_2 > * {
  @apply px-[3rem];
}

.form:active,
.form:focus,
.form-btn:focus,
.form-btn:active {
  @apply border-none;
  @apply outline-none;
}
.form::placeholder {
  font-size: 12px;
}

.dot {
  @apply h-[10px] w-[10px] rounded-full cursor-pointer m-[0.1rem] flex justify-center items-center;
}

.box {
  box-shadow: 1.25px 1.25px 1.1px #e9e9e9;
}

.image {
  margin: 0 auto;
}

.unseen {
  margin-right: auto;
  max-width: 50%;
}

.container-2 {
  padding: 2rem 3rem;
  color: #4d4d4d;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.content {
  grid-column: 1 /3;
  grid-row: 1 /3;
  justify-self: center;
  padding-top: 1.5rem;
}
.heading {
  font-weight: 600;
  font-size: 1.25rem;
}
span {
  color: #4caf4f;
}

.paragraph {
  font-size: 9px;
  color: #717171;
}

.container-3 {
  background-color: white;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.image-2 {
  justify-self: center;
}

.grid-content {
  justify-self: start;
  max-width: 60%;
}

.paragraph-2 {
  padding: 2rem 0;
}
.paragraph-2a {
  font-size: 0.7rem;
}

.container-4 {
  padding: 1rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.grid-content-2 {
  grid-column: 2/4;
  justify-self: center;
}

.paragraph-3 {
  color: #4caf4f;
  font-size: 12px;
  font-weight: 500;
}
.paragraph-4 {
  color: #89939e;
  font-size: 10px;
  font-weight: 500;
}

.images-5 {
  margin: 0 0.7rem;
}

.map {
  width: 100%;
  margin-top: 1rem;
}

.container-5 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container5a {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  margin: 1.5rem 0;

  padding: 0 7rem;
}

.card {
  background-color: #abbed1;

  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.4rem;
  max-width: 75%;
  margin: 0 auto;
  margin-top: -3rem;
  position: relative;
  box-shadow: 2.25px 2.25px 1.1px #bbb8b8;
}

.paragraph-5 {
  max-width: 35%;
}

.linkbtn {
  margin-left: 0.3rem;
  margin-top: -0.3rem;
}
.paragraph {
  font-size: 1rem;
}
h4 {
  font-weight: 900;
}

/* //////////////////////////// */
/* MEDIA QUERIES */
/* $bp-largest: 75em; //1200px / 16px bp = break point
$bp-large: 68.75em; //1100px / 16px
$bp-medium: 56.25em; //900px / 16px
$bp-small: 37.5em; //600px / 16px
$bp-smallest: 31.25em; //500px / 16px */

body {
  overflow-x: hidden;
}
/* DESKTOP */
@media only screen and (max-width: 1200px) {
  body {
    /* background-color: orangered !important; */
  }

  .images {
    margin: 0 3rem;
  }
  .box {
    margin: 0 2rem;
  }
  .grid-content {
    justify-self: center;
    max-width: 90%;
  }

  .images-5 {
    margin: 0 1rem;
  }
  .grid-content-2 {
    grid-column: 2/4;
    max-width: 100%;
  }
  .paragraph-5 {
    max-width: 50%;
  }

  .container5a {
    padding: 0 4rem;
  }
  .footer {
    padding: 0;
  }
}

/* LARGE */
@media only screen and (max-width: 1100px) {
  html {
    font-size: 80% !important;
  }
  body {
    /* background-color: skyblue !important; */
  }
  .hero {
    padding: 0 3.5rem;
  }

  .paragraph {
    padding: 1rem 0;
  }

  .h5 {
    font-size: 1.25rem;
  }

  .heading {
    font-size: 1.5rem;
  }
}
/* MD */
@media only screen and (max-width: 900px) {
  html {
    font-size: 60% !important;
  }
  body {
    /* background-color: pink !important; */
  }

  .nav {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
  }
  .nav--links {
    font-size: 1.1rem;
  }
  .h2 {
    font-size: 2.17rem;
  }
  .paragraph {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .hero {
    max-width: 800px;
    margin: 0 auto;
  }
  .hero-comp {
    margin: auto 0;
  }
  .membership {
    grid-template-columns: none;
    max-width: 75%;
    margin: 0 auto;
  }
  .containers {
    display: grid;
    padding: 0 1.5rem 0 0;
  }

  .container-3,
  .containers {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-content,
  .unseen {
    grid-column: 2/-1;
  }
  .unseen {
    max-width: 100%;
    margin: auto 0;
  }
  .image-2 {
    align-self: center;
  }
  .container5a {
    padding: 0 2.25rem;
  }
  .card {
    font-size: 1.5rem;
    max-width: 90%;
  }
  .footer_copy {
    padding: 0 1rem;
  }
  .socials_2 > * {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  .linkbtn {
    margin-left: 0.3rem;
    margin-top: -0.8rem;
  }
}
/* SM */
@media only screen and (max-width: 600px) {
  html {
    font-size: 45% !important;
  }
  body {
    /* background-color: powderblue !important; */
  }
  .nav {
    padding: 0.85rem;
    max-width: 550px;
    flex-direction: column;
  }
  .nav--links {
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  .nav--btn {
    margin-left: 0;
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  .btn_txt {
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
  }

  .navImg {
    @apply w-[100px];
  }
  .p-3 {
    padding: 1.5rem;
  }

  .hero {
    padding: 0 1.5rem;
    flex-direction: column;
  }
  .hero_img,
  .image-2,
  .image-3 {
    @apply w-[200px];
  }
  .hero-comp {
    margin: 1rem auto;
  }
  .images {
    margin: 0 2rem;
  }

  .containers {
    display: grid;
    padding: 1.5rem 3rem;
  }

  .container-3,
  .containers {
    grid-template-columns: none;
  }
  .image {
    max-width: 75%;
  }
  .container-4 {
    display: flex;
    flex-direction: column;
  }
  .container-5 {
    padding: 3rem 0;
  }
  .btn {
    font-size: 1.23rem;
  }

  .unseen {
    max-width: 100%;
    padding: 0 1rem;
  }
  .image-2 {
    align-self: center;
  }
  .container5a {
    grid-template-columns: none;
    justify-items: center;
  }
  .container5a > * {
    max-width: 75%;
  }

  .card {
    max-width: 50%;
    margin-top: -3rem;
    margin-left: 2.25rem;
  }
  .footer {
    flex-direction: column;
  }
  .socials_2 {
    margin: 0 auto;
  }
  .socials_2 > * {
    padding: 1rem 3rem;
  }
  .linkbtn {
    margin-top: -1.3rem;
  }
}

/*MOBILE */
@media only screen and (max-width: 500px) {
  body {
    /* background-color: orange !important; */
  }

  .nav > * {
    padding: 0.15rem 0;
  }

  .nav--links {
    margin: 1rem 0 0 0;
  }

  .btn_txt {
    padding: 0.5rem;
    margin: auto 0;
  }
  .link_btn {
    padding: 0.9rem;
    margin: 0.2rem;
  }
  .images-5 {
    margin: 0 0.75rem;
  }
  .card {
    margin-left: 2.75rem;
    max-width: 55%;
  }
  .socials_2 {
    margin: 0;
    padding: 0;
  }
  .socials_2 > * {
    padding: 1rem 1rem;
  }
}
